<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MUGENWINCatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MUGENWINCatch.Properties.Settings>
            <setting name="mugenPath" serializeAs="String">
                <value />
            </setting>
            <setting name="loiloPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="uploadURL" serializeAs="String">
                <value />
            </setting>
            <setting name="aviPath" serializeAs="String">
                <value />
            </setting>
            <setting name="mp4Path" serializeAs="String">
                <value />
            </setting>
        </MUGENWINCatch.Properties.Settings>
    </userSettings>
</configuration>